<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Загрузка-и-анализ-данных" data-toc-modified-id="Загрузка-и-анализ-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Загрузка и анализ данных</a></span></li><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Редактирование-таблиц-и-данных" data-toc-modified-id="Редактирование-таблиц-и-данных-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Редактирование таблиц и данных</a></span></li><li><span><a href="#Подсчет-кол-ва-отправленных-сообщений,сделанных-звонков-и-использованного-интернет-траффика" data-toc-modified-id="Подсчет-кол-ва-отправленных-сообщений,сделанных-звонков-и-использованного-интернет-траффика-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Подсчет кол-ва отправленных сообщений,сделанных звонков и использованного интернет траффика</a></span></li><li><span><a href="#Общая-статистика-по-пользователям" data-toc-modified-id="Общая-статистика-по-пользователям-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Общая статистика по пользователям</a></span></li></ul></li><li><span><a href="#Анализ-и-описание-данных" data-toc-modified-id="Анализ-и-описание-данных-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Анализ и описание данных</a></span></li><li><span><a href="#Формулирование-и-проверка-гипотез" data-toc-modified-id="Формулирование-и-проверка-гипотез-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Формулирование и проверка гипотез</a></span></li><li><span><a href="#ВЫВОД" data-toc-modified-id="ВЫВОД-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>ВЫВОД</a></span></li><li><span><a href="#Чек-лист-готовности-проекта" data-toc-modified-id="Чек-лист-готовности-проекта-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Чек-лист готовности проекта</a></span></li></ul></div>

# Определение перспективного тарифа для телеком-компании
Компания «Мегалайн» — федеральный оператор сотовой связи. Клиентам предлагают два тарифных плана: «Смарт» и «Ультра». Чтобы скорректировать рекламный бюджет, коммерческий департамент хочет понять, какой тариф приносит больше денег.
Необходимо сделать предварительный анализ тарифов на небольшой выборке клиентов и выяснить, какой тариф лучше.

## Загрузка и анализ данных

In [1]:
#Подключим необходимые библиотеки для работы с проектом
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats as st
#Сохраним наборы данных в разных переменных
users = pd.read_csv('/datasets/users.csv')
#display(users.head(20))
users.info()
calls = pd.read_csv('/datasets/calls.csv')
#display(calls.tail(20))
calls.info()
messages = pd.read_csv('/datasets/messages.csv')
#display(messages.head(20))
messages.info()
internet = pd.read_csv('/datasets/internet.csv')
display(internet.tail(20))
internet.info()
tariffs = pd.read_csv('/datasets/tariffs.csv')
display(tariffs.head(20))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
user_id       500 non-null int64
age           500 non-null int64
churn_date    38 non-null object
city          500 non-null object
first_name    500 non-null object
last_name     500 non-null object
reg_date      500 non-null object
tariff        500 non-null object
dtypes: int64(2), object(6)
memory usage: 31.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202607 entries, 0 to 202606
Data columns (total 4 columns):
id           202607 non-null object
call_date    202607 non-null object
duration     202607 non-null float64
user_id      202607 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123036 entries, 0 to 123035
Data columns (total 3 columns):
id              123036 non-null object
message_date    123036 non-null object
user_id         123036 non-null int64
dtypes: int64(1), object(2)
memory usage: 2.8+ MB

        Unnamed: 0        id  mb_used session_date  user_id
149376      149376  1499_137   271.78   2018-10-22     1499
149377      149377  1499_138   585.26   2018-12-29     1499
149378      149378  1499_139    26.11   2018-12-10     1499
149379      149379  1499_140   234.09   2018-11-06     1499
149380      149380  1499_141     0.00   2018-12-11     1499
149381      149381  1499_142     0.00   2018-11-01     1499
149382      149382  1499_143   202.02   2018-10-11     1499
149383      149383  1499_144     0.00   2018-11-27     1499
149384      149384  1499_145   910.19   2018-12-04     1499
149385      149385  1499_146    23.72   2018-10-22     1499
149386      149386  1499_147     0.00   2018-10-21     1499
149387      149387  1499_148   268.19   2018-11-13     1499
149388      149388  1499_149   778.68   2018-11-24     1499
149389      149389  1499_150   273.98   2018-11-20     1499
149390      149390  1499_151   752.72   2018-10-11     1499
149391      149391  1499_152   318.90   2018-10-03     1499
149392      149392  1499_153   490.13   2018-12-14     1499
149393      149393  1499_154     0.00   2018-10-27     1499
149394      149394  1499_155  1246.32   2018-11-26     1499
149395      149395  1499_156   544.37   2018-10-26     1499

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149396 entries, 0 to 149395
Data columns (total 5 columns):
Unnamed: 0      149396 non-null int64
id              149396 non-null object
mb_used         149396 non-null float64
session_date    149396 non-null object
user_id         149396 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 5.7+ MB

,messages_included,mb_per_month_included,minutes_included,rub_monthly_fee,rub_per_gb,rub_per_message,rub_per_minute,tariff_name
0,50,15360,500,550,200,3,3,smart
1,1000,30720,3000,1950,150,1,1,ultra

Выполнив работу на данном этапе было замечено, что пропусков как таковых в данных нет(есть только пропуски в таблице *users* и то это не ропуски, а просто человек не сменил тариф(пользуется прежним), колонки в таблицах называются корректно(есть правда одна колонка *Unnamed:0*  в таблице *internet* вообще странно, что это за колонка такая?).

## Предобработка данных

### Редактирование таблиц и данных

In [2]:
#На предыдущем этапе, в таблице internet , был замечен дублирующий столбец , удалим его
internet.drop(columns='Unnamed: 0',inplace=True,axis=1)
#переименуем столбец в таблице tariffs, для дальнейшей работы с ним
tariffs.columns = ['messages_included','mb_per_month_included','minutes_included','rub_monthly_fee','rub_per_gb','rub_per_message','rub_per_minute','tariff']
display(tariffs)
#Поскольку интернет траффик считается в ГБ (в тарифе), приведем в соответствующий тип
internet['mb_used'] = internet['mb_used'].apply(np.ceil).astype(int)
display(internet.head(25))
#Поскольку длительность звонков считается в минутакх, приведем в соответствующий тип
calls['duration'] = calls['duration'].apply(np.ceil)
display(calls.head())

,messages_included,mb_per_month_included,minutes_included,rub_monthly_fee,rub_per_gb,rub_per_message,rub_per_minute,tariff
0,50,15360,500,550,200,3,3,smart
1,1000,30720,3000,1950,150,1,1,ultra

         id  mb_used session_date  user_id
0    1000_0      113   2018-11-25     1000
1    1000_1     1053   2018-09-07     1000
2    1000_2     1198   2018-06-25     1000
3    1000_3      551   2018-08-22     1000
4    1000_4      303   2018-09-24     1000
5    1000_5      400   2018-10-02     1000
6    1000_6      541   2018-09-07     1000
7    1000_7      416   2018-07-11     1000
8    1000_8      506   2018-10-08     1000
9    1000_9      346   2018-09-03     1000
10  1000_10      386   2018-09-27     1000
11  1000_11        0   2018-08-28     1000
12  1000_12      376   2018-06-20     1000
13  1000_13      394   2018-08-09     1000
14  1000_14      181   2018-08-11     1000
15  1000_15      338   2018-07-21     1000
16  1000_16      460   2018-06-09     1000
17  1000_17      205   2018-06-03     1000
18  1000_18      659   2018-11-01     1000
19  1000_19      453   2018-11-28     1000
20  1000_20      337   2018-08-20     1000
21  1000_21      565   2018-12-06     1000
22  1000_22      724   2018-07-02     1000
23  1000_23      604   2018-10-19     1000
24  1000_24       54   2018-10-30     1000

       id   call_date  duration  user_id
0  1000_0  2018-07-25       0.0     1000
1  1000_1  2018-08-17       0.0     1000
2  1000_2  2018-06-11       3.0     1000
3  1000_3  2018-09-21      14.0     1000
4  1000_4  2018-12-15       6.0     1000

### Подсчет кол-ва отправленных сообщений,сделанных звонков и использованного интернет траффика

In [3]:
#Подсчитаем кол-во отправленных сообщений для каждого пользователя по месяцам
messages['message_date']= pd.to_datetime(messages['message_date'])
messages['month'] = messages['message_date'].dt.month_name()
sum_user_messages = messages.groupby(['user_id','month']).agg({'message_date' : 'count'}).reset_index()
sum_user_messages.columns = ['user_id','month','messages_count']
#sum_user_messages = messages.pivot_table(index=['user_id',messages['message_date'].dt.month_name()],values='message_date',aggfunc='count')
#display(messages.head())
display(sum_user_messages.head(10))
#Подсчитаем кол-во сделанных звонков для каждого пользователя по месяцам
calls['call_date']= pd.to_datetime(calls['call_date'])
calls['month'] = calls['call_date'].dt.month_name()
sum_user_calls = calls.groupby(['user_id','month']).agg({'call_date' : 'count','duration' : 'sum'}).reset_index()
sum_user_calls.columns = ['user_id','month','call_count','total_duration']
display(sum_user_calls.head(25))
#Подсчитаем израсходованный интернет траффик в мб для каждого пользователя по месяцам
internet['session_date']= pd.to_datetime(internet['session_date'])
internet['month'] = internet['session_date'].dt.month_name()
sum_user_traffic = internet.groupby(['user_id','month']).agg({'session_date' : 'count','mb_used' : 'sum'}).reset_index()
sum_user_traffic.columns = ['user_id','month','conected_count','total_traffic']
display(sum_user_traffic.head(20))

   user_id      month  messages_count
0     1000     August              81
1     1000   December              70
2     1000       July              75
3     1000       June              60
4     1000        May              22
5     1000   November              58
6     1000    October              73
7     1000  September              57
8     1002     August              13
9     1002   December              12

    user_id      month  call_count  total_duration
0      1000     August          52           408.0
1      1000   December          46           333.0
2      1000       July          47           340.0
3      1000       June          43           172.0
4      1000        May          22           159.0
5      1000   November          43           338.0
6      1000    October          57           350.0
7      1000  September          58           466.0
8      1001   December          63           414.0
9      1001   November          59           430.0
10     1002     August          42           289.0
11     1002   December          33           236.0
12     1002       July          26           214.0
13     1002       June          15           117.0
14     1002   November          32           243.0
15     1002    October          33           212.0
16     1002  September          36           206.0
17     1003     August          55           380.0
18     1003   December         108           802.0
19     1003   November         115           824.0
20     1003    October         108           855.0
21     1003  September         134           961.0
22     1004     August          19           137.0
23     1004   December          21           130.0
24     1004       July          22           135.0

    user_id      month  conected_count  total_traffic
0      1000     August              29          14070
1      1000   December              21           9827
2      1000       July              29          14016
3      1000       June              49          23257
4      1000        May               5           2256
5      1000   November              24          14768
6      1000    October              27          14717
7      1000  September              27          14581
8      1001   December              41          14053
9      1001   November              55          18452
10     1002     August              60          20347
11     1002   December              62          18137
12     1002       July              58          17601
13     1002       June              34          10871
14     1002   November              55          18610
15     1002    October              44          13905
16     1002  September              56          16712
17     1003     August              15           8571
18     1003   December              21          10132
19     1003   November              21          11368

Выполнив все рассчеты можно однозначно сказать, что большинство пользователей не всегда используют все возможности предоставленного им тарифного плана(это заметно по месяцам ,по которым распределены те или иные использованные услуги оператора).

### Общая статистика по пользователям

In [5]:
#Объединим таблицы пользователи и их тарифы, чтобы была одна единая таблица по пользователям, позже сделаем таблицу со статистикой
users_tariffs = users.merge(tariffs,on='tariff',how='outer')
##### Сделаем общую статистику по пользователям
statistics_table = sum_user_traffic.merge(sum_user_calls,on=['user_id','month'],how='outer').merge(sum_user_messages,on=['user_id','month'],how='outer')
statistics_table = users_tariffs.merge(statistics_table,on='user_id',how='outer')
#statistics_table = pd.merge(statistics_table,sum_user_messages,on=['user_id','month'],how='outer')
#statistics_table = pd.merge(statistics_table,sum_user_traffic,on=['user_id','month'],how='outer')
#statistics_table = pd.merge(statistics_table,internet[['mb_per_month_included','rub_monthly_fee',
                                                      #'minutes_included','rub_per_minute',
                                                      #'messages_included','rub_per_message']],
                                                      # on=['user_id','month'],how='outer')
#Удалим лишние колонки,которые мешают 
#statistics_table.drop(columns=['id','call_date','duration'],inplace=True,axis=1)
statistics_table.drop(columns=['age','churn_date','first_name','last_name','reg_date'],inplace=True,axis=1)
#Приведем в порядок некоторые значения в таблице, для удобства рассчетов(Интернет траффик в Гб)
statistics_table['total_traffic'] = (statistics_table['total_traffic'] / 1024)
statistics_table['total_traffic'] = statistics_table['total_traffic'].apply(np.ceil)
#statistics_table = statistics_table.groupby(['user_id','month'])

display(statistics_table.head(10))

#Вычислим получение прибыли с каждого пользователя
def profit_per_user(row):
    # считаем овердрафты
    monthly_fee = row['rub_monthly_fee']
    minutes_over = (row['total_duration'] - row['minutes_included']) *  row['rub_per_minute']
    messages_over = (row['messages_count'] - row['messages_included']) * row['rub_per_message']
    gb_over = (row['total_traffic'] - (row['mb_per_month_included'] / 1024)) * row['rub_per_gb']
     # убираем отрицательные овердрафты
    if minutes_over < 0: minutes_over = 0
    if messages_over < 0: messages_over = 0
    if gb_over < 0: gb_over = 0
    return minutes_over + messages_over + gb_over + monthly_fee
statistics_table['profit'] = statistics_table.apply(profit_per_user,axis=1)
statistics_table.loc[statistics_table['profit'].isna(), 'profit'] = statistics_table['profit'].replace(np.nan,0)
display(statistics_table['profit'].unique())

,user_id,city,tariff,messages_included,mb_per_month_included,minutes_included,rub_monthly_fee,rub_per_gb,rub_per_message,rub_per_minute,month,conected_count,total_traffic,call_count,total_duration,messages_count
0,1000,Краснодар,ultra,1000,30720,3000,1950,150,1,1,August,29.0,14.0,52.0,408.0,81.0
1,1000,Краснодар,ultra,1000,30720,3000,1950,150,1,1,December,21.0,10.0,46.0,333.0,70.0
2,1000,Краснодар,ultra,1000,30720,3000,1950,150,1,1,July,29.0,14.0,47.0,340.0,75.0
3,1000,Краснодар,ultra,1000,30720,3000,1950,150,1,1,June,49.0,23.0,43.0,172.0,60.0
4,1000,Краснодар,ultra,1000,30720,3000,1950,150,1,1,May,5.0,3.0,22.0,159.0,22.0
5,1000,Краснодар,ultra,1000,30720,3000,1950,150,1,1,November,24.0,15.0,43.0,338.0,58.0
6,1000,Краснодар,ultra,1000,30720,3000,1950,150,1,1,October,27.0,15.0,57.0,350.0,73.0
7,1000,Краснодар,ultra,1000,30720,3000,1950,150,1,1,September,27.0,15.0,58.0,466.0,57.0
8,1003,Москва,ultra,1000,30720,3000,1950,150,1,1,August,15.0,9.0,55.0,380.0,37.0
9,1003,Москва,ultra,1000,30720,3000,1950,150,1,1,December,21.0,10.0,108.0,802.0,75.0

array([1950.,    0., 2700., 3900., 3300., 3000., 4800., 2400., 2550.,
       2850., 2250., 3150., 3750., 2100., 4050., 3450., 1550., 1150.,
        550., 1350.,  950., 1186.,  949.,  838.,  775.,  886.,  835.,
        694., 1219.,  556., 1750.,  981.,  685., 1190., 1015.,  568.,
       2350.,  750., 1995., 2150., 1356., 2553., 1540., 2950., 3350.,
       2750., 2559., 2153., 3004., 1622., 1838., 3040., 1019., 1983.,
       1235., 1004., 1672., 3321.,  986.,  959.,  781., 1906.,  739.,
       1009.,  592., 1064.,  655., 1998., 2919., 1723., 1087., 2313.,
        691.,  676.,  703.,  718., 1473.,  673.,  679.,  736., 1045.,
       1013., 1171., 2031., 1816., 2616., 1640., 2831., 1697.,  562.,
        553.,  589., 1359., 1112.,  840., 3233., 5709., 1661., 2186.,
       2189.,  971.,  995.,  574., 1965., 2213.,  756., 2115., 1885.,
        762., 3985., 3584.,  601., 1951., 1765., 2264., 2130., 2788.,
       1154., 1074., 1671., 1812., 1488., 1476., 1248., 2219., 1911.,
       2441., 1103., 2004.,  924., 1553., 2210., 1321., 2813., 2028.,
       1131., 2765., 2263., 1608., 1948., 2367., 1954., 1214., 1539.,
       2601., 2605., 1807., 1556., 3575., 2234., 3195., 4011., 2362.,
       2395., 1705.,  873., 1069.,  634.,  976.,  619.,  604.,  712.,
       2916.,  798., 3375., 1942., 2712., 3550., 2301., 2201., 3053.,
        849., 2190., 1046., 1975., 2014., 3211., 1858.,  819., 2106.,
        802., 2182., 1724., 3202., 1908.,  784.,  826.,  871.,  730.,
        859.,  721., 1016., 1365.,  753., 1688., 1698., 1297., 1106.,
        948., 1580.,  837.,  577., 1034., 2577., 2589., 2810., 2353.,
       2368., 2475., 3640., 1155., 2457., 2704., 1591., 5014., 1870.,
       2035., 1191.,  823., 1246., 1040.,  727., 2268., 1864., 1670.,
       2646., 2837., 3410.,  962., 1057., 1410., 3046., 2361.,  706.,
        841., 1805., 1012., 1180., 1126.,  934.,  974.,  733.,  964.,
        916., 1006.,  953., 2783.,  643., 1002., 1205., 1962., 1133.,
       2288., 1294., 1423., 2069., 1446.,  637., 1007.,  661.,  625.,
        807.,  616.,  980., 1605., 1368., 1651., 1437., 1047.,  583.,
       2641.,  994., 1120., 1079.,  792.,  751., 1404., 1571., 1038.,
        963.,  586., 1342., 1655., 3870., 4427., 3136., 2953.,  975.,
       1763.,  816., 1159.,  804., 1198.,  640., 1706.,  622., 1413.,
        580., 1202.,  787., 1993.,  697.,  834., 1461., 1679., 1270.,
       2097.,  772., 2076., 1436.,  670., 2697., 2419., 2855., 2273.,
       2622., 1831.,  912.,  765.,  565.,  745.,  571.,  786.,  595.,
       5252., 1174., 1036., 1141., 1000., 1479., 1078., 1354., 4473.,
       2261., 4150., 2247., 3315., 3083., 2773., 2096., 1116., 1683.,
       1464., 2185.,  607.,  628., 2022.,  907.,  992., 1565.,  777.,
        883.,  646., 3246., 1987.,  942.,  658.,  958., 1030.,  688.,
        829.,  910., 1147.,  613.,  989., 1790., 2007., 1095., 1138.,
       1576., 1489., 1554., 1715., 2903., 1137., 2309., 1387., 2067.,
       2661., 1768., 1135.,  649., 2064., 1419., 1380., 1628., 2187.,
        909., 1713., 2147.,  598.,  631., 1151., 4397.,  955., 1181.,
        763.,  901., 1804., 1974., 2403., 2095., 2510., 2907., 1856.,
       2952., 2893., 2643., 1288., 1647., 1494., 2944., 4116., 3266.,
       2233., 2063., 2310., 2065., 3693., 2239., 1529., 2121., 2194.,
       1739., 2291., 1662.,  831., 1716., 3037., 2046.,  888., 1834.,
       2725., 2094., 2270., 2852., 1279., 2688., 2452., 2897., 2630.,
       2595., 5672., 4664., 2446., 1915., 2068., 1681., 2766., 1183.,
        724., 1158., 1411., 1467., 1753., 1252., 1073., 1234., 1536.,
       2681.,  868., 1587.,  877., 1907., 1312., 1487., 1500., 1336.,
       2164., 1051., 1330., 1825., 2609., 1039., 1943., 2049.,  715.,
        742., 5321., 2378., 3774.,  808., 2248., 1145., 1891., 3152.,
       1992., 1930., 2592.,  810., 1646., 1631., 1440., 1228., 2165.,
       1624., 1439., 1709., 1784.,  783.,  828.,  998., 1649., 2489.,
       2396., 3342., 3409., 2608., 2414., 1153., 2780.,  769., 1389.,
       1563., 1227., 1177., 1573., 1684., 2675., 1774., 2665., 2467.,
       1777.,  977., 1969., 1285., 2180., 3448., 2537., 2468., 3773.,
       2077., 4231., 3253.,  780.,  559.,  850., 1859., 2073.,  862.,
       1455.,  867., 1833., 1956., 2162., 1559.,  965., 3076., 3070.,
       1407., 1395.,  918.,  973.,  922.,  919.,  778., 1093., 1828.,
       1673., 1263., 4396., 1867., 1168., 2365., 1381., 1023., 1798.,
       1771., 1401., 1208., 2191.,  766., 1696., 1504., 2274., 2861.,
       1669., 3251., 2571., 3759., 2055., 1430., 1148., 1490., 1820.,
       1062., 1776., 1960., 1821., 1445.,  882., 2254., 1761., 2017.,
       2295., 2822., 3125., 1392., 1092., 2322., 1300., 1909., 1779.,
       1652., 1415., 1849., 2915., 1552., 1146., 3612., 2179., 1577.,
       1156., 1043., 1362.,  847., 1789., 2380., 1959., 1523., 1454.,
       1339., 1785., 1113., 1441., 2218., 2628., 1823.,  874., 1616.,
       1882., 1237.,  858., 2146., 2433., 2587., 3073., 1139.,  927.,
        844., 1192., 1551.,  930., 2408., 1083., 1733., 3145., 1982.,
       1049., 1176., 3148., 1824., 1806., 1014.,  925., 1923.,  993.,
        891., 1634., 2882., 1597., 1236.,  652.,  870., 1063.,  889.,
        956., 1318., 1912., 1583., 1732., 3915., 1005., 1637., 2298.,
       2041., 2343., 1076., 1241., 1251., 1883.,  967., 1574., 1450.,
       1055., 1767., 2705., 2252., 1566., 2480., 2768., 2307., 1898.,
       3306., 2410., 2118., 1416.,  900., 1010., 2223., 2323., 1108.,
       2443., 1289., 2245., 2606., 1527., 1163., 6770., 5680., 1109.,
       3393., 2332., 1813., 2431., 3432., 2596., 2721., 3036., 1685.,
       2386., 1513.])

Выполнив объединения таблиц , мы смогли свести все данные в единую базу и используя полученные данные смогли рассчитать выручку, которую получил оператор с каждого пользователя по месяцам.

In [6]:
statistics_table.shape

(3216, 17)

In [ ]:
statistics_table = calls.merge(
    sum_user_calls,
    on=['user_id','month'],how='outer').merge(
        sum_user_messages,
        on=['user_id','month'],how='outer').merge(
            sum_user_traffic,
            on=['user_id','month'],how='outer')

## Анализ и описание данных

In [8]:
#Разделеим статистику пользователей по тарифам
tariff_ultra = statistics_table.query('tariff == "ultra"')
tariff_smart = statistics_table.query('tariff == "smart"')
#Рассчитаем среднее значение для звонков(использованные минуты разговора),сообщений,использованного траффика
total_duration_mean_1 = tariff_ultra['total_duration'].mean()  #  ср.значение по звонкам
total_duration_mean_2 = tariff_smart['total_duration'].mean()
print('ср.значение по звонкам : ',total_duration_mean_1,total_duration_mean_2)
total_traffic_mean_1 = tariff_ultra['total_traffic'].mean()   # ср.значение по использованному траффику
total_traffic_mean_2 = tariff_smart['total_traffic'].mean()
print('ср.значение по использованному траффику(Гб) : ',total_traffic_mean_1,total_traffic_mean_2)
messages_mean_1 = tariff_ultra['messages_count'].mean()      # ср.значение по сообщениям
messages_mean_2 = tariff_smart['messages_count'].mean() 
print('ср.значение по сообщениям : ',messages_mean_1,messages_mean_2)
#Отобразим эти данные на графиках 
statistics_table.pivot_table(index = 'month', columns = 'tariff', values = 'total_duration', aggfunc = 'mean').plot()
plt.title('Среднее значение статистики пользователей по тарифам')
plt.ylabel('Длительность разговоров (мин)')
statistics_table.pivot_table(index = 'month', columns = 'tariff', values = 'messages_count', aggfunc = 'mean').plot()
plt.title('Среднее значение статистики пользователей по тарифам')
plt.ylabel('Кол-во сообщений (шт.)')
statistics_table.pivot_table(index = 'month', columns = 'tariff', values = 'total_traffic', aggfunc = 'mean').plot()
plt.title('Среднее значение статистики пользователей по тарифам')
plt.ylabel('Использованный интернет траффик (Гб)')
#Рассчитаем дисперсии для звонков(использованные минуты разговора),сообщений,использованного траффика
total_duration_var_1 = np.var(tariff_ultra['total_duration'],ddof=1)
total_duration_var_2 = np.var(tariff_smart['total_duration'],ddof=1)
print('Дисперсия по звонкам : ',total_duration_var_1,total_duration_var_2)
total_traffic_var_1 = np.var(tariff_ultra['total_traffic'],ddof=1)
total_traffic_var_2 = np.var(tariff_smart['total_traffic'],ddof=1)
print('Дисперсия по использованному траффику',total_traffic_var_1,total_traffic_var_2)
messages_var_1 = np.var(tariff_ultra['messages_count'],ddof=1)
messages_var_2 = np.var(tariff_smart['messages_count'],ddof=1)
print('Дисперсия по сообщениям : ',messages_var_1,messages_var_2)
#Рассчитаем стандартное отклонение для звонков(использованные минуты разговора),сообщений,использованного траффика
total_duration_std_1 = np.std(tariff_ultra['total_duration'],ddof=1)
total_duration_std_2 = np.std(tariff_smart['total_duration'],ddof=1)
print('Среднее отклонение составляет : ',total_duration_std_1,total_duration_std_2)
messages_std_1 = np.std(tariff_ultra['messages_count'],ddof=1)
messages_std_2 = np.std(tariff_smart['messages_count'],ddof=1)
print('Среднее отклонение составляет : ',messages_std_1,messages_std_2)
total_traffic_std_1 = np.std(tariff_ultra['total_traffic'],ddof=1)
total_traffic_std_2 = np.std(tariff_smart['total_traffic'],ddof=1)
print('Среднее отклонение составляет :',total_traffic_std_1,total_traffic_std_2)
#Построим гистограммы распределения значений по тарифам
plt.figure(figsize=(15,5))
#Построим гистограммы распределения значений по звонкам
plt.hist([tariff_ultra['total_duration'],tariff_smart['total_duration']],bins=25,range=(0,900))
plt.title('Исходная выборка по минутам звонков')
plt.xlabel('Потраченные минуты (мин.)')
plt.show()
#Построим гистограммы распределения значений по сообщениям
plt.hist([tariff_ultra['messages_count'],tariff_smart['messages_count']],bins=15,range=(0,300))
plt.title('Исходная выборка по сообщениям')
plt.xlabel('Кол-во отправленных сообщений (шт.)')
plt.show()
#Построим гистограммы распределения значений по использованному интернет траффику
plt.hist([tariff_ultra['total_traffic'],tariff_smart['total_traffic']],bins=10,range=(0,50))
plt.title('Исходная выборка по интернет траффику')
plt.xlabel('Использованный интернет траффик (Гб)')
plt.show()

UndefinedVariableError: name 'tariff' is not defined

Основываясь на полученных данных, можно с уверенностью сказать, что пользователи тарифа ultra гораздо больше разговаривают по телефону и отправляют сообщения, чем пользователи другого тарифа.Что касается интернет траффика,то они практически одинаково пользуются интернетом.Построив гистограммы по тарифам, можно сказать, что на них отражается явно не-нормальное распрделение значений(наверное в жизни так и должно быть), только на первой гистограмме (по минутам) что-то близкое к нормальному распределению есть в тарифе smart, во всех остальных случаях наблюдается скошенность в правую сторону.

## Формулирование и проверка гипотез

In [ ]:
#Прежде чем приступать к формулированию гипотез,необходимо посчитать ср.выручку по тарифам
ultra_profit = tariff_ultra['profit'].mean()
print('Среднее значение выручки по тарифу "Ультра" составляет :',ultra_profit)
smart_profit = tariff_smart['profit'].mean()
print('Среднее значение выручки по тарифу "Смарт" составляет :',smart_profit)

На основе полученных данных можно сделать вывод, что выручка потарифам отличается, вопрос в том, действительноэто так или же это просто шум(случайность), для того, чтобы проверить это проведем  двусторонний t-тест

Сформулирем гипотезы, которые потом проверим
Нулевая гипотеза (Н0) - Средняя выручка пользователей тарифов «Ультра» и «Смарт» одинаковые (=)
Альтернативная гипотеза - Средняя выручка пользователей тарифа «Ультра» больше(>) средней выручки пользователей тарифа «Смарт»

In [ ]:
#Сформулируем начальную гипотезу
#средняя выручка пользователей тарифов «Ультра» и «Смарт» различаются(=) H0
alpha = .05 # критический уровень статистической значимости( если p-value < alpha , то отвергнем гипотезу )

results = st.ttest_ind(
    tariff_ultra['profit'], 
    tariff_smart['profit'])
 
print('p-значение: ', results.pvalue)
 
if results.pvalue < alpha:
    print("Отвергаем нулевую гипотезу")
else:
    print("Не получилось отвергнуть нулевую гипотезу")

Проведя проверку гипотезу, мы увидили,что разница в выручке по тарифам(по тарифу "Ультра" больше,чем по тарифу "Смарт") есть и это не случайность.

In [ ]:
#Аналогично поступим и для жителей Москвы и других регионов
moscow = statistics_table.query('city == "Москва"')
no_moscow = statistics_table.query('city != "Москва"')
#Прежде чем приступать к формулированию гипотез,необходимо посчитать ср.выручку по тарифам
profit_moscow = moscow['profit'].mean()
print('Среднее значение выручки по Москве" составляет :',profit_moscow)
profit_no_moscow = no_moscow['profit'].mean()
print('Среднее значение выручки по другим регионам составляет :',profit_no_moscow)

Сформулируем начальную гипотезу :
Начальная гипотеза (Н0) - средняя выручка пользователей Москвы и других регионов равны (=)
Альтернативная гипотеза - средняя выручка пользователей Москвы и других регионов различаются

In [ ]:
#Сформулируем начальную гипотезу
#средняя выручка пользователей Москвы и других регионов различаются(=) H0
alpha = .05 # критический уровень статистической значимости( если p-value < alpha , то отвергнем гипотезу )

results_2 = st.ttest_ind(
    moscow['profit'], 
    no_moscow['profit'])
 
print('p-значение: ', results_2.pvalue)
 
if results_2.pvalue < alpha:
    print("Отвергаем нулевую гипотезу")
else:
    print("Не получилось отвергнуть нулевую гипотезу")

## ВЫВОД

Получив данные в сыром виде, мы провели работу над ними(просмотрели используемые типы данных, проверили правильность заполнения таблиц, удалили лишние столбцы).После этого перешли к обработке данных(опираясь на грппу пользователь-месяц)(подсчет кол-ва минут потраченных пользователями,отправленных сообщенийи использованного интернет трафика).Далее была сформирована общая таблица(сводная таблица) со статистикой по всем пользователям , исползую эту общуютаблицу смогли посчитать общую доходность по пользователям. Основываясь на полученных данных, былсделан вывод, что пользователи тарифа ultra чаще общаются потелефону и отправляют сообщения,нежели пользователи другого тарифа,что касается трафика , потребляемого пользователями, то они получились примерно одинаковыми.
Если компания хочет получить больше прибыли с пользователей, то ей необходимо распространить больше тариф smart, так как основываясь на проверке гипотез,получилось,что именно с этого тарифа компания получает больше прибыли.

## Чек-лист готовности проекта

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  открыт файл
- [x]  файлы изучены (выведены первые строки, метод info,shape,describe  и тд.)
- [x]  определены пропущенные значения
- [x]  есть пояснение, какие пропущенные значения обнаружены
- [x]  есть пояснение, в каких столбцах изменены типы данных и почему
- [x]  подсчитано количество сделанных звонков и израсходованных минут разговора по месяцам для каждого пользователя
- [x]  подсчитано количество отправленных сообщений по месяцам для каждого пользователя
- [x]  подсчитано объем израсходованного интернет-трафика по месяцам для каждого пользователя
- [x]  найдите помесячную выручку с каждого пользователя 
- [x]  Опишите поведение клиентов оператора, исходя из выборки. Сколько минут разговора, сколько сообщений и какой объём интернет-трафика требуется пользователям каждого тарифа в месяц? Посчитайте среднее количество, дисперсию и стандартное отклонение. Постройте гистограммы. Опишите распределения 
- [x]  проверить гипотезы : средняя выручка пользователей тарифов «Ультра» и «Смарт» различаются;средняя выручка пользователей из Москвы отличается от выручки пользователей из других регионов
- [x]  в каждом этапе есть выводы
- [x]  есть общий вывод